services:
  scraper:
    container_name: globe-news-scraper
    build: .
    environment:
      - ENV=${ENV:-dev}
      - MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo

  mongo:
    container_name: scraper-mongodb
    image: mongo:latest
    volumes:
      - mongodb_data:/data/db

volumes:
  mongodb_data: