ENV=prod
LOG_LEVEL=INFO
LOGGING_DIR=/var/log/globe_news_scraper
MONGO_URI=mongodb://mongo:27017
MONGO_DB=globe_news_scraper_prod
BING_SEARCH_ENDPOINT=your_production_bing_search_endpoint
BING_SEARCH_SUBSCRIPTION_KEY=your_production_bing_search_subscription_key
NEWS_API_KEY=your_production_news_api_key
MAX_SCRAPING_WORKERS=5